In [1]:
import pandas as pd
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1 = pd.read_csv('./data/지역별 방문자수 비교_20210621 (1).csv')
df2 = pd.read_csv('./data/지역별 방문자수 비교_20210621 (2).csv')
df3 = pd.read_csv('./data/지역별 방문자수 비교_20210621 (3).csv')
df4 = pd.read_csv('./data/지역별 방문자수 비교_20210621 (4).csv')

In [3]:
df = pd.concat([df1,df2,df3,df4]).reset_index(drop=True)
df.head()

,년,월,광역지자체,현지인(a),외지인(b),외국인(c),내국인(a+b),외부방문자(b+c),전체방문자(a+b+c)
0,2019,1,서울특별시,"130,981,176","49,167,240","1,881,982","180,148,416","51,049,223","182,030,398"
1,2019,1,부산광역시,"38,855,149","11,674,128","294,616","50,529,276","11,968,743","50,823,892"
2,2019,1,대구광역시,"35,297,808","8,475,849","56,553","43,773,657","8,532,401","43,830,209"
3,2019,1,인천광역시,"34,362,241","13,430,781","664,603","47,793,021","14,095,384","48,457,625"
4,2019,1,광주광역시,"22,031,391","5,140,044","25,293","27,171,435","5,165,337","27,196,728"

In [4]:
def string_to_numeric(d):
    d = d.replace(',','')
    return int(d)
df[['현지인(a)','외지인(b)','외국인(c)','내국인(a+b)','외부방문자(b+c)','전체방문자(a+b+c)']] = df[['현지인(a)','외지인(b)','외국인(c)','내국인(a+b)','외부방문자(b+c)','전체방문자(a+b+c)']].applymap(string_to_numeric)

In [5]:
sido_list = df['광역지자체'].unique()

In [6]:
df = df.set_index(['년','월'])

### 현지인의 증가가 눈에 띔
#### 현지인의 2020 1,2월 기준 감소와 2021 2월 백신 이후의 증가
#### 외지인의 감소가 일어남

In [ ]:
plt.style.use(['seaborn-whitegrid'])
plt.rcParams['font.family'] = 'Malgun Gothic'
%config InlineBackend.figure_format = 'retina'
fig, ax = plt.subplots(6,3)

row, col =0,0
for isido in df['광역지자체'].unique():
    df[df['광역지자체']==isido][['현지인(a)']].plot.line(figsize=(15,25), title=isido, ax=ax[row][col], legend=False)
    col+=1
    if col==3:
        col=0
        row+=1
plt.savefig('./results/local_visit.png', dpi=100)

In [8]:
%%html
<img src="./results/local_visit.png" />

In [ ]:
plt.style.use(['seaborn-whitegrid'])
plt.rcParams['font.family'] = 'Malgun Gothic'
%config InlineBackend.figure_format = 'retina'
fig, ax = plt.subplots(6,3)

row, col =0,0
for isido in df['광역지자체'].unique():
    df[df['광역지자체']==isido][['외지인(b)']].plot.line(figsize=(15,25), title=isido, ax=ax[row][col], legend=False)
    col+=1
    if col==3:
        col=0
        row+=1
plt.savefig('./results/other_visit.png', dpi=100)

In [10]:
%%html
<img src="./results/other_visit.png" />

In [ ]:
plt.style.use(['seaborn-whitegrid'])
plt.rcParams['font.family'] = 'Malgun Gothic'
%config InlineBackend.figure_format = 'retina'
fig, ax = plt.subplots(6,3)

row, col =0,0
for isido in df['광역지자체'].unique():
    df[df['광역지자체']==isido][['전체방문자(a+b+c)']].plot.line(figsize=(15,25), title=isido, ax=ax[row][col], legend=False)
    col+=1
    if col==3:
        col=0
        row+=1
plt.savefig('./results/all_visit.png', dpi=100)

In [12]:
%%html
<img src="./results/all_visit.png" />